/**
  * SITCON Stylesheet additional patch
  * @author Haraguroicha <m50gbmb@gmail.com>
  */

@mixin transition($style) {
	-webkit-transition: $style;
	-moz-transition: $style;
	-ms-transition: $style;
	-o-transition: $style;
	transition: $style;
}

@mixin transform($style) {
	-webkit-transform: $style;
	-moz-transform: $style;
	-ms-transform: $style;
	-o-transform: $style;
	transform: $style;
}

.bubble {
	box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	@include transition (all .5s);
	
	&:hover {
		box-shadow: 5px 5px 12px -2px rgba(20%,20%,40%,0.75);
		@include transform (scale(1.1));
	}
}