// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

/**
 * SITCON Stylesheet
 *
 * @author 蒼時弦也
 */

@font-face {
	font-family: 'Social';
	src: url('fonts/icomoon.eot?#') format('eot'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/**
 * Global
 */

html, body {
    width: 100%;
    height: 100%;

    @include background(
        linear-gradient(top, #efefef, white)
    );
}

.bubble {
    color: #FFF;
    text-align: center;

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    .has-tip {
        border: none;
    }

    &.has-tip {
        border: none;
        color: #FFF;

        &:hover {
            border: none;
            color: #FFF;
        }
    }

    @include border-radius(50%);
}

@import "additional.scss"; //Add by Haraguroicha

aside.bubble-wrapper {
    header {
        display: none;
    }

    a {
        color: #FFF;

        &:hover {
            color: #FFF;
        }
    }
}

.social-icon {
    font-family: "Social";
    line-height: 50px;

    @include font-size(18);
}

/**
 * SITCON
 */

#sitcon h1{
    background: #a4c639;

    width: 250px;
    height: 250px;

    margin-top: -125px;
    margin-left: -125px;
    padding: 103px 0;

    @include font-size(44);
}

/**
 * Coming Soon
 */

#coming-soon a{
    background: #0060a3;

    width: 150px;
    height: 150px;

    margin-top: -75px;
    margin-left: 150px;

    color: #FFF;
    
    padding: 48px 0;

    line-height: 1.5em;
    @include font-size(18);
}

/**
 * Facebook
 */

#facebook a{
    background: #3b5998;

    width: 50px;
    height: 50px;

    margin-top: -25px;
    margin-left: -275px;
}

/**
 * Twitter
 */

#twitter a{
    background: #00a0d1;

    width: 50px;
    height: 50px;

    margin-top: -25px;
    margin-left: -200px;
}
