@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/main.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**
 * Modules
 */
/**
 * Clear Fix
 */
/**
 * Grid Count
 */
/**
 * Arrow Maker
 */
/**
 * Fonts
 */
/**
 * Global Variables
 */
/**
 * Global
 */
/* line 99, ../sass/main.scss */
html {
  font-size: 12px;
}

/* line 103, ../sass/main.scss */
body {
  font-size: 12px;
  font-family: "Droid Sans", "Droid Sans Fallback", "微軟正黑體", "Microsoft JhengHei", "STHeiti", "Heiti TC", SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  padding-top: 250px;
  -webkit-font-smoothing: antialiased;
}

/* line 113, ../sass/main.scss */
a {
  color: #1a1a1a;
  text-decoration: none;
}
/* line 117, ../sass/main.scss */
a.link-light {
  color: #40a800;
}

/* line 122, ../sass/main.scss */
hr {
  border: none;
  border-bottom: 1px solid #1a1a1a;
}
/* line 127, ../sass/main.scss */
hr.light {
  border-bottom: 1px solid white;
}

/**
 * UI Element
 */
/* line 136, ../sass/main.scss */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: .5em .7em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* line 143, ../sass/main.scss */
.button.light {
  background: white;
}
/* line 147, ../sass/main.scss */
.button.normal {
  color: white;
  background: #40a800;
}
/* line 152, ../sass/main.scss */
.button.dark {
  color: white;
  background: #1a1a1a;
}
/* line 157, ../sass/main.scss */
.button.large {
  font-size: 24px;
  font-size: 2rem;
}
/* line 162, ../sass/main.scss */
.button.middle {
  font-size: 18px;
  font-size: 1.5rem;
}
/* line 167, ../sass/main.scss */
.button.small {
  font-size: 12px;
  font-size: 1rem;
}

/**
 * Grid
 */
/* line 177, ../sass/main.scss */
.container {
  width: 940px;
  margin: 0 auto;
}

/* line 26, ../sass/_mixin.scss */
.row {
  margin-left: -20px;
  *zoom: 1;
}
/* line 9, ../sass/_mixin.scss */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 16, ../sass/_mixin.scss */
.row:after {
  clear: both;
}

/* line 32, ../sass/_mixin.scss */
[class*="span"] {
  margin-left: 20px;
  float: left;
}

/* line 38, ../sass/_mixin.scss */
.span1 {
  margin-top: 1em;
  width: 60px;
}

/* line 38, ../sass/_mixin.scss */
.span2 {
  margin-top: 1em;
  width: 140px;
}

/* line 38, ../sass/_mixin.scss */
.span3 {
  margin-top: 1em;
  width: 220px;
}

/* line 38, ../sass/_mixin.scss */
.span4 {
  margin-top: 1em;
  width: 300px;
}

/* line 38, ../sass/_mixin.scss */
.span5 {
  margin-top: 1em;
  width: 380px;
}

/* line 38, ../sass/_mixin.scss */
.span6 {
  margin-top: 1em;
  width: 460px;
}

/* line 38, ../sass/_mixin.scss */
.span7 {
  margin-top: 1em;
  width: 540px;
}

/* line 38, ../sass/_mixin.scss */
.span8 {
  margin-top: 1em;
  width: 620px;
}

/* line 38, ../sass/_mixin.scss */
.span9 {
  margin-top: 1em;
  width: 700px;
}

/* line 38, ../sass/_mixin.scss */
.span10 {
  margin-top: 1em;
  width: 780px;
}

/* line 38, ../sass/_mixin.scss */
.span11 {
  margin-top: 1em;
  width: 860px;
}

/* line 38, ../sass/_mixin.scss */
.span12 {
  margin-top: 1em;
  width: 940px;
}

/**
 * Header
 */
/* line 189, ../sass/main.scss */
header[role="header"] {
  height: 250px;
  width: 100%;
  z-index: 999;
  background: white;
  position: fixed;
  top: 0;
  *zoom: 1;
}
/* line 191, ../sass/main.scss */
header[role="header"] h1 {
  text-indent: -999999px;
  background: url('../images/banner_logo.png?1355909500') center;
  width: 700px;
  height: 150px;
  margin: 0 auto;
}
/* line 9, ../sass/_mixin.scss */
header[role="header"]:before, header[role="header"]:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 16, ../sass/_mixin.scss */
header[role="header"]:after {
  clear: both;
}

/**
 * Footer
 */
/* line 219, ../sass/main.scss */
footer[role="footer"] {
  letter-spacing: .15em;
  font-size: 13.2px;
  font-size: 1.1rem;
}
/* line 229, ../sass/main.scss */
footer[role="footer"] .social a {
  color: #FFF;
}
/* line 234, ../sass/main.scss */
footer[role="footer"] .split {
  margin: 0 .5em;
  color: #595959;
}

/**
 * Navigator
 */
/* line 246, ../sass/main.scss */
nav[role="main_menu"] header {
  display: none;
}
/* line 250, ../sass/main.scss */
nav[role="main_menu"] ul {
  text-align: center;
  padding: 0;
}
/* line 256, ../sass/main.scss */
nav[role="main_menu"] li {
  display: inline;
  font-size: 24px;
  font-size: 2rem;
}
/* line 262, ../sass/main.scss */
nav[role="main_menu"] li a {
  display: inline-block;
  color: #a6a6a6;
  padding: .5em;
  text-transform: uppercase;
  position: relative;
}
/* line 273, ../sass/main.scss */
nav[role="main_menu"] li a:hover {
  color: #1a1a1a;
}
/* line 277, ../sass/main.scss */
nav[role="main_menu"] li a.active {
  color: white;
  background: #40a800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 284, ../sass/main.scss */
nav[role="main_menu"] li a.active:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 7px solid #40a800;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
}

/**
 * Main Frame
 */
/* line 314, ../sass/main.scss */
#main_frame header h2 {
  font-size: 48px;
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 323, ../sass/main.scss */
.section_green {
  background: #40a800;
  color: white;
  padding-bottom: 1em;
}

/* line 331, ../sass/main.scss */
.section_black {
  background: #1a1a1a;
  color: white;
  padding-bottom: 1em;
}

/* line 339, ../sass/main.scss */
.attach_arrow_green {
  padding-top: 50px;
  position: relative;
}
/* line 344, ../sass/main.scss */
.attach_arrow_green:after {
  display: block;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top: 35px solid #40a800;
  content: " ";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -35px;
}

/* line 357, ../sass/main.scss */
.attach_arrow_black {
  padding-top: 50px;
  position: relative;
}
/* line 362, ../sass/main.scss */
.attach_arrow_black:after {
  display: block;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top: 35px solid #1a1a1a;
  content: " ";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -35px;
}

/* line 375, ../sass/main.scss */
.attach_arrow_white {
  padding-top: 50px;
  position: relative;
}
/* line 380, ../sass/main.scss */
.attach_arrow_white:after {
  display: block;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top: 35px solid white;
  content: " ";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -35px;
}

/**
 * Each Part
 */
/* line 399, ../sass/main.scss */
#about {
  font-size: 24px;
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: .15em;
}

/* line 410, ../sass/main.scss */
#info {
  font-size: 18px;
  font-size: 1.5rem;
  letter-spacing: .15em;
  line-height: 1.5em;
}
/* line 411, ../sass/main.scss */
#info > header {
  display: none;
}
/* line 415, ../sass/main.scss */
#info h3 {
  text-transform: uppercase;
  font-size: 48px;
  font-size: 4rem;
  font-weight: normal;
}
/* line 428, ../sass/main.scss */
#info .hint {
  font-size: 12px;
  font-size: 1rem;
  margin-left: .5em;
}
/* line 435, ../sass/main.scss */
#info .register {
  position: relative;
}
/* line 438, ../sass/main.scss */
#info .register:after {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid white;
  content: " ";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -5px;
}

/* line 451, ../sass/main.scss */
#time {
  font-size: 36px;
  font-size: 3rem;
  text-transform: uppercase;
  border-right: 1px solid #595959;
}
/* line 458, ../sass/main.scss */
#time .register {
  font-size: 18px;
  font-size: 1.5rem;
}

/* line 470, ../sass/main.scss */
#team h3 {
  font-size: 24px;
  font-size: 2rem;
  font-weight: normal;
  color: #595959;
}
/* line 478, ../sass/main.scss */
#team h3 .leader {
  font-size: 14.00004px;
  font-size: 1.16667rem;
}

/* line 487, ../sass/main.scss */
#speakers, #schedule, #sponsor {
  text-align: center;
  font-size: 36px;
  font-size: 3rem;
}
/* line 493, ../sass/main.scss */
#speakers p, #schedule p, #sponsor p {
  text-transform: uppercase;
}
/* line 497, ../sass/main.scss */
#speakers .span12, #speakers .span6, #schedule .span12, #schedule .span6, #sponsor .span12, #sponsor .span6 {
  margin-top: 0;
}

/* line 504, ../sass/main.scss */
#location header {
  display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 526, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 533, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 540, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 545, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 557, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 566, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 571, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 576, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 580, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 589, ../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 597, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 601, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 605, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 615, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 620, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 625, ../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 630, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 634, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 644, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 650, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
