@charset "UTF-8";
/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
/* line 5, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
body {
  background: white;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: ms(0);
  line-height: 1;
  color: #222222;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Links ---------------------- */
/* line 11, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
a:hover {
  color: #2795b6;
}

/* line 13, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
a:focus {
  color: #2ba6cb;
  outline: none;
}

/* line 14, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
p a, p a:visited {
  line-height: inherit;
}

/* Misc ---------------------- */
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
.left {
  float: left;
}

/* line 19, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
.right {
  float: right;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
.text-left {
  text-align: left;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
.text-right {
  text-align: right;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
.text-center {
  text-align: center;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
.hide {
  display: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
.highlight {
  background: #ffff99;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
#googlemap img, object, embed {
  max-width: none;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
#map_canvas embed {
  max-width: none;
}

/* line 29, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
#map_canvas img {
  max-width: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
#map_canvas object {
  max-width: none;
}

/* Reset for strange margins by default on <figure> elements */
/* line 33, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_globals.scss */
figure {
  margin: 0;
}

/* Base Type Styles Using Modular Scale ---------------------- */
/* line 3, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* line 9, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
p {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
}
/* line 10, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
p.lead {
  font-size: 17.5px;
  line-height: 1.6;
  margin-bottom: 17px;
}

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
aside p {
  font-size: 13px;
  line-height: 1.35;
  font-style: italic;
}

/* line 14, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px;
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h1 {
  font-size: 44px;
}

/* line 25, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h2 {
  font-size: 37px;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h3 {
  font-size: 27px;
}

/* line 27, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h4 {
  font-size: 23px;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h5 {
  font-size: 17px;
}

/* line 29, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
h6 {
  font-size: 14px;
}

/* line 31, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0;
}

/* line 33, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
.subheader {
  line-height: 1.3;
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px;
}

/* line 35, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
em, i {
  font-style: italic;
  line-height: inherit;
}

/* line 36, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
strong, b {
  font-weight: bold;
  line-height: inherit;
}

/* line 37, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 38, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
code {
  font-weight: bold;
  background: #ffff99;
}

/* Lists ---------------------- */
/* line 41, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul, ol {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: inside;
}

/* line 44, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul li ul, ul li ol {
  margin-left: 20px;
  margin-bottom: 0;
}
/* line 46, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.square, ul.circle, ul.disc {
  margin-left: 17px;
}
/* line 47, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.square {
  list-style-type: square;
}
/* line 48, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.square li ul {
  list-style: inherit;
}
/* line 50, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.circle {
  list-style-type: circle;
}
/* line 51, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.circle li ul {
  list-style: inherit;
}
/* line 53, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.disc {
  list-style-type: disc;
}
/* line 54, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.disc li ul {
  list-style: inherit;
}
/* line 56, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.no-bullet {
  list-style: none;
}
/* line 57, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ul.large li {
  line-height: 21px;
}

/* line 61, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
ol li ul, ol li ol {
  margin-left: 20px;
  margin-bottom: 0;
}

/* Blockquotes ---------------------- */
/* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
blockquote, blockquote p {
  line-height: 1.5;
  color: #6f6f6f;
}

/* line 67, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
blockquote {
  margin: 0 0 17px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}
/* line 68, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
blockquote cite {
  display: block;
  font-size: 13px;
  color: #555555;
}
/* line 69, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 70, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555555;
}

/* line 74, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px solid #ddd;
  cursor: help;
}

/* line 75, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
abbr {
  text-transform: none;
}

/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 83, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 85, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 86, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 87, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 88, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 89, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 90, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 91, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 92, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 93, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 95, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 96, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 97, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 98, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/common/_typography.scss */
  .print-only {
    display: block !important;
  }
}
/* Requires:
   globals.css */
/* Table of Contents

:: Visibility
:: Alerts
:: Labels
:: Tooltips
:: Panels
:: Accordion
:: Side Nav
:: Sub Nav
:: Pagination
:: Breadcrumbs
:: Lists
:: Link Lists
:: Keystroke Chars
:: Video
:: Tables
:: Microformats

*/
/* Visibility Classes ---------------------- */
/* Standard (large) display targeting */
/* line 33, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.show-for-small,
.show-for-medium,
.show-for-medium-down,
.hide-for-large,
.hide-for-large-up,
.show-for-xlarge {
  display: none !important;
}

/* line 40, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.hide-for-xlarge,
.show-for-large,
.show-for-large-up,
.hide-for-small,
.hide-for-medium,
.hide-for-medium-down {
  display: block !important;
}

/* Very large display targeting */
@media only screen and (min-width: 1441px) {
  /* line 49, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .hide-for-small,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: block !important;
  }

  /* line 56, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .show-for-small,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: none !important;
  }
}
/* Medium display targeting */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  /* line 66, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .hide-for-small,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: block !important;
  }

  /* line 73, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .show-for-small,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: none !important;
  }
}
/* Small display targeting */
@media only screen and (max-width: 767px) {
  /* line 83, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .show-for-small,
  .hide-for-medium,
  .show-for-medium-down,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: block !important;
  }

  /* line 90, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .hide-for-small,
  .show-for-medium,
  .hide-for-medium-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: none !important;
  }
}
/* Orientation targeting */
/* line 95, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.show-for-landscape,
.hide-for-portrait {
  display: block !important;
}

/* line 97, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

@media screen and (orientation: landscape) {
  /* line 101, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: block !important;
  }

  /* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }
}
@media screen and (orientation: portrait) {
  /* line 108, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: block !important;
  }

  /* line 110, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }
}
/* Touch-enabled device targeting */
/* line 114, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.show-for-touch {
  display: none !important;
}

/* line 115, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.hide-for-touch {
  display: block !important;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.touch .show-for-touch {
  display: block !important;
}

/* line 117, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.touch .hide-for-touch {
  display: none !important;
}

/* Specific overrides for elements that require something other than display: block */
/* line 124, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table.show-for-xlarge,
table.show-for-large,
table.hide-for-small,
table.hide-for-medium {
  display: table !important;
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
  /* line 130, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .touch table.hide-for-xlarge,
  .touch table.hide-for-large,
  .touch table.hide-for-small,
  .touch table.show-for-medium {
    display: table !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 137, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  table.hide-for-xlarge,
  table.hide-for-large,
  table.hide-for-medium,
  table.show-for-small {
    display: table !important;
  }
}
/* Alerts ---------------------- */
/* line 142, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
div.alert-box {
  display: block;
  padding: 6px 7px 7px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #2ba6cb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  position: relative;
}
/* line 144, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
div.alert-box.success {
  background-color: #5da423;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
/* line 145, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
div.alert-box.alert {
  background-color: #c60f13;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
/* line 146, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
div.alert-box.secondary {
  background-color: #e9e9e9;
  color: #505050;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}
/* line 148, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
div.alert-box a.close {
  color: #333;
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 17px;
  opacity: 0.2;
  padding: 4px;
}
/* line 149, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
div.alert-box a.close:hover, div.alert-box a.close:focus {
  opacity: 0.4;
}

/* Labels ---------------------- */
/* line 156, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.label {
  padding: 1px 4px 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline;
  position: relative;
  bottom: 1px;
  color: #fff;
  background: #2ba6cb;
}
/* line 158, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.label.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 159, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.label.round {
  padding: 1px 7px 2px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 161, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.label.alert {
  background-color: #c60f13;
}
/* line 162, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.label.success {
  background-color: #5da423;
}
/* line 163, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.label.secondary {
  background-color: #e9e9e9;
  color: #505050;
}

/* Tooltips ---------------------- */
/* line 169, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.has-tip {
  border-bottom: dotted 1px #cccccc;
  cursor: help;
  font-weight: bold;
  color: #333333;
}
/* line 171, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.has-tip:hover {
  border-bottom: dotted 1px #196177;
  color: #2ba6cb;
}
/* line 172, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.has-tip.tip-left, .has-tip.tip-right {
  float: none !important;
}

/* line 176, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip {
  display: none;
  background: black;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 5px;
  z-index: 999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: normal;
}
/* line 178, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip > .nub {
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent black transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  position: absolute;
  top: -10px;
  left: 10px;
}
/* line 179, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip.tip-override > .nub {
  border-color: transparent transparent black transparent !important;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important;
  top: -10px !important;
}
/* line 180, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip.tip-top > .nub {
  border-color: black transparent transparent transparent;
  border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
  top: auto;
  bottom: -10px;
}
/* line 182, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip.tip-left, .tooltip.tip-right {
  float: none !important;
}
/* line 184, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip.tip-left > .nub {
  border-color: transparent transparent transparent black;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
  right: -10px;
  left: auto;
}
/* line 185, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip.tip-right > .nub {
  border-color: transparent black transparent transparent;
  border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
  right: auto;
  left: -10px;
}
/* line 187, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip.noradius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 188, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tooltip.opened {
  color: #2ba6cb !important;
  border-bottom: dotted 1px #196177 !important;
}

/* line 192, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.tap-to-close {
  display: block;
  font-size: 10px;
  font-size: 1rem;
  color: #888888;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  /* line 195, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .tooltip {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 7px 10px 9px 10px;
  }

  /* line 200, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .tooltip > .nub, .tooltip.top > .nub, .tooltip.left > .nub, .tooltip.right > .nub {
    border-color: transparent transparent black transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
    top: -12px;
    left: 10px;
  }
}
/* Panels ---------------------- */
/* line 210, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel {
  background: #f2f2f2;
  border: solid 1px #e6e6e6;
  margin: 0 0 22px 0;
  padding: 20px;
}
/* line 212, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel > :first-child {
  margin-top: 0;
}
/* line 213, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel > :last-child {
  margin-bottom: 0;
}
/* line 215, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel.callout {
  background: #2ba6cb;
  color: #fff;
  border-color: #2284a1;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}
/* line 216, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel.callout a {
  color: #fff;
}
/* line 217, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel.callout .button {
  background: white;
  border: none;
  color: #2ba6cb;
  text-shadow: none;
}
/* line 219, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel.callout .button:hover {
  background: rgba(255, 255, 255, 0.8);
}
/* line 223, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.panel.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* Accordion ---------------------- */
/* line 229, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion {
  margin: 0 0 22px 0;
  border-bottom: 1px solid #e9e9e9;
}
/* line 231, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e9e9e9;
}
/* line 233, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li .title {
  cursor: pointer;
  background: #f6f6f6;
  padding: 15px;
  margin: 0;
  position: relative;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  -webkit-transition: 0.15s background linear;
  -moz-transition: 0.15s background linear;
  -o-transition: 0.15s background linear;
  transition: 0.15s background linear;
}
/* line 235, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li .title h1, ul.accordion > li .title h2, ul.accordion > li .title h3, ul.accordion > li .title h4, ul.accordion > li .title h5 {
  margin: 0;
}
/* line 236, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li .title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent #9d9d9d transparent transparent;
  position: absolute;
  right: 15px;
  top: 21px;
}
/* line 239, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li .content {
  display: none;
  padding: 15px;
}
/* line 241, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active {
  border-top: 3px solid #2ba6cb;
}
/* line 243, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active .title {
  background: white;
  padding-top: 13px;
}
/* line 245, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active .title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: #9d9d9d transparent transparent transparent;
}
/* line 247, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active .content {
  background: white;
  display: block;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

/* Side Nav ---------------------- */
/* line 256, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.side-nav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 17px 0;
}
/* line 258, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.side-nav li {
  display: block;
  list-style: none;
  margin: 0 0 7px 0;
}
/* line 260, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.side-nav li a {
  display: block;
}
/* line 261, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.side-nav li.active a {
  color: #4d4d4d;
  font-weight: bold;
}
/* line 262, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.side-nav li.divider {
  border-top: 1px solid #e6e6e6;
  height: 0;
  padding: 0;
}

/* Sub Navs http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na ---------------------- */
/* line 268, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
dl.sub-nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -4px 0 18px -9px;
  padding-top: 4px;
}
/* line 270, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
dl.sub-nav dt, dl.sub-nav dd {
  float: left;
  display: inline;
  margin-left: 9px;
  margin-bottom: 10px;
}
/* line 271, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
dl.sub-nav dt {
  color: #999;
  font-weight: normal;
}
/* line 272, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
dl.sub-nav dd a {
  text-decoration: none;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 273, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
dl.sub-nav dd.active a {
  font-weight: bold;
  background: #2ba6cb;
  color: #fff;
  padding: 3px 9px;
  cursor: default;
}

/* Pagination ---------------------- */
/* line 279, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination {
  display: block;
  height: 24px;
  margin-left: -5px;
}
/* line 281, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination li {
  float: left;
  display: block;
  height: 24px;
  color: #999;
  font-size: 14px;
  margin-left: 5px;
}
/* line 283, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination li a {
  display: block;
  padding: 1px 7px 1px;
  color: #555;
}
/* line 284, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination li:hover a, ul.pagination li a:focus {
  background: #e6e6e6;
}
/* line 285, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination li.unavailable a {
  cursor: default;
  color: #999;
}
/* line 286, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  background: transparent;
}
/* line 287, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination li.current a {
  background: #2ba6cb;
  color: white;
  font-weight: bold;
  cursor: default;
}
/* line 288, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.pagination li.current a:hover {
  background: #2ba6cb;
}

/* Breadcrums ---------------------- */
/* line 296, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs {
  display: block;
  background: #f6f6f6;
  padding: 6px 10px 7px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}
/* line 298, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li {
  margin: 0;
  padding: 0 12px 0 0;
  float: left;
  list-style: none;
}
/* line 300, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li a, ul.breadcrumbs li span {
  text-transform: uppercase;
  font-size: 11px;
  font-size: 1.1rem;
  padding-left: 12px;
}
/* line 301, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span {
  padding-left: 0;
}
/* line 304, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li:before {
  content: "/";
  color: #aaa;
}
/* line 305, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li:first-child:before {
  content: " ";
}
/* line 306, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li.current a {
  cursor: default;
  color: #333;
}
/* line 307, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus {
  text-decoration: underline;
}
/* line 308, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus {
  text-decoration: none;
}
/* line 310, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li.unavailable a {
  color: #999;
}
/* line 311, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus {
  text-decoration: none;
  color: #999;
  cursor: default;
}

/* Link List */
/* line 317, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.link-list {
  margin: 0 0 17px -22px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 319, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.link-list li {
  list-style: none;
  float: left;
  margin-left: 22px;
  display: block;
}
/* line 321, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.link-list li a {
  display: block;
}

/* Keytroke Characters ---------------------- */
/* line 327, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.keystroke, kbd {
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 13px;
  padding: 2px 4px 0px;
  margin: 0;
  background: #ededed;
  border: solid 1px #dbdbdb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* Video - Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/ ---------------------- */
/* line 332, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
/* line 340, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
/* line 341, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.flex-video.vimeo {
  padding-top: 0;
}
/* line 343, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  /* line 348, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
  .flex-video {
    padding-top: 0;
  }
}
/* Tables ---------------------- */
/* line 353, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 18px;
  border: 1px solid #ddd;
}

/* line 355, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table thead, table tfoot {
  background: #f5f5f5;
}

/* line 360, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

/* line 362, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table thead tr th,
table tfoot tr td {
  padding: 8px 10px 9px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

/* line 363, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table thead tr th:first-child, table tfoot tr td:first-child {
  border-left: none;
}

/* line 364, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table thead tr th:last-child, table tfoot tr td:last-child {
  border-right: none;
}

/* line 367, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table tbody tr.even,
table tbody tr.alt {
  background: #f9f9f9;
}

/* line 368, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

/* line 369, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
table tbody tr td {
  color: #333;
  padding: 9px 10px;
  vertical-align: top;
  border: none;
}

/* Microformats ---------------------- */
/* line 373, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.vcard {
  display: inline-block;
  margin: 0 0 12px 0;
  border: 1px solid #ddd;
  padding: 10px;
}
/* line 375, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.vcard li {
  margin: 0;
  display: block;
}
/* line 376, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
ul.vcard li.fn {
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
}

/* line 381, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
p.vevent span.summary {
  font-weight: bold;
}
/* line 382, ../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.9/scss/foundation/components/modules/_ui.scss */
p.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 1px;
}

/**
 * SITCON Stylesheet
 *
 * @author 蒼時弦也
 */
@font-face {
  font-family: 'Social';
  src: url("fonts/icomoon.eot?#") format("eot"), url("fonts/icomoon.svg#icomoon") format("svg"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/**
 * Global
 */
/* line 39, ../sass/app.scss */
html, body {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #efefef, #ffffff);
  background: -moz-linear-gradient(top, #efefef, #ffffff);
  background: -o-linear-gradient(top, #efefef, #ffffff);
  background: linear-gradient(top, #efefef, #ffffff);
}

/* line 48, ../sass/app.scss */
.bubble {
  color: #FFF;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 57, ../sass/app.scss */
.bubble .has-tip {
  border: none;
}
/* line 61, ../sass/app.scss */
.bubble.has-tip {
  border: none;
  color: #FFF;
}
/* line 65, ../sass/app.scss */
.bubble.has-tip:hover {
  border: none;
  color: #FFF;
}

/**
  * SITCON Stylesheet additional patch
  * @author Haraguroicha <m50gbmb@gmail.com>
  */
/* line 22, ../sass/additional.scss */
.bubble {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 26, ../sass/additional.scss */
.bubble:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 77, ../sass/app.scss */
aside.bubble-wrapper header {
  display: none;
}
/* line 81, ../sass/app.scss */
aside.bubble-wrapper a {
  color: #FFF;
}
/* line 84, ../sass/app.scss */
aside.bubble-wrapper a:hover {
  color: #FFF;
}

/* line 90, ../sass/app.scss */
.social-icon {
  font-family: "Social";
  line-height: 50px;
  font-size: 18px;
  font-size: 1.8rem;
}

/**
 * SITCON
 */
/* line 101, ../sass/app.scss */
#sitcon h1 {
  background: #a4c639;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
  padding: 103px 0;
  font-size: 44px;
  font-size: 4.4rem;
}

/**
 * Coming Soon
 */
/* line 118, ../sass/app.scss */
#coming-soon a {
  background: #0060a3;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: 150px;
  color: #FFF;
  padding: 48px 0;
  line-height: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
}

/**
 * Facebook
 */
/* line 139, ../sass/app.scss */
#facebook a {
  background: #3b5998;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -275px;
}

/**
 * Twitter
 */
/* line 153, ../sass/app.scss */
#twitter a {
  background: #00a0d1;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -200px;
}
